# Functions

# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

# Performs a recursive git mv from the current directory, useful for assets.
#   For example: $ git-rename launcher_icon.png ic_launcher.png
function git-rename() {
    find -L . -type f -name "$1" | while read FILE; do
        git mv "$FILE" "${FILE%$1}$2"
        echo -ne "$FILE => $2\n"
    done
}

# Grab a screenshot from a connected device
function adb-screenshot() {
    "$ANDROID_HOME/platform-tools/adb" -d shell screencap -p /sdcard/screen.png
    "$ANDROID_HOME/platform-tools/adb" -d pull /sdcard/screen.png $1
    "$ANDROID_HOME/platform-tools/adb" -d shell rm /sdcard/screen.png
}

# Break the work vpn for sites that require it
function breakvpn() {
    gw=`netstat -arn | grep ^default | awk '{print $2}'`
    while (("$#")); do
        sudo route delete $1
        sudo route add $1 $gw
        shift
    done
}
