# Functions

function breakvpn() {
    gw=`netstat -arn | grep ^default | awk '{print $2}'`
    while (("$#")); do
        sudo route delete $1
        sudo route add $1 $gw
        shift
    done
}

function git-rename() {
    ## Performs a recursive git mv from the current directory.
    find -L . -type f -name "$1" | while read FILE; do
        git mv "$FILE" "${FILE%$1}$2"
        echo -ne "$FILE => $2\n"
    done
}

function adb-screenshot() {
    "$ANDROID_HOME/platform-tools/adb" -d shell screencap -p /sdcard/screen.png
    "$ANDROID_HOME/platform-tools/adb" -d pull /sdcard/screen.png $1
    "$ANDROID_HOME/platform-tools/adb" -d shell rm /sdcard/screen.png
}

function logv() {
    "$ANDROID_HOME/platform-tools/adb" logcat Simple:v *:S
}

function logd() {
    "$ANDROID_HOME/platform-tools/adb" logcat Simple:d *:S
}

function logi() {
    "$ANDROID_HOME/platform-tools/adb" logcat Simple:i *:S
}
