[core]
    excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.local
[color]
    ui = auto
    branch = true
    diff = true
    interactive = true
    status = true
[push]
    default = current
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status

    ; unstage file
    unstage = reset HEAD --
    ; undo the most recent commit
    undo = reset --soft HEAD^
    ; show recent branches
    recent = branch --format='%(if)%(HEAD)%(then)%(color:green)%(end)%(HEAD) %(align:left,16)%(committerdate:relative)%(end)%(refname:short)'
    ; show recent branches
    recents = recent
[branch]
    sort = -committerdate
[tag]
    sort = -creatordate
[rebase]
    autosquash = true
[pull]
    ff = only
