[core]
	excludesfile = ~/.gitignore
[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
	branch = true
	diff = true
	interactive = true
	status = true
[push]
	default = current
[alias]
	undo = reset --soft HEAD^
	diffw = diff --word-diff
